

.cash-visible {
  font-size: 40px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
}
.cash-actions-btn{
  display: flex;
  justify-content: center;
  margin-top: 30px;
 
}

.action-btn {
  background: turquoise;
  border: none;
  border-radius: 5px;
  font-size: 40px;
}

.action-btn:first-child {
  margin-right: 30px;
}

.customers {
  display: flex;
  justify-content: center;
}

.customers_item:first-child {
  margin-top: 60px;
}

.customers_item {
  font-size: 40px;
  margin-top: 15px;
  cursor: pointer;
}
